<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
    <h1> SELAMAT DATANG DI SITUS SAYA</h1>
    {% block content %}
    {% endblock %}
    <a href="https://twitter.com/intent/tweet?screen_name=a_mo_d&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @a_mo_d</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>