{%extends 'base/base_ata.html'%}
{%block title%}Home{%endblock%}

{%block content%}

<div class="container">
    
    <div class="row">
        <div class="col-md-4">
            <div class="logo">
            <img src="https://i.postimg.cc/m2tgpQQg/benefit.png">
            <br>
            </div>
        </div>
        <div class="col-md-8">
            <h5>Learn Awesome Tech</h5>
            <p>You will learn about programming language suhc as python and javascript  
                    build backend apps using flask with microservice concept , build client side apps using react library</p>
        </div>
    </div>
    <div class="row">
            <div class="col-md-4">
                <div class="logo">
                <img src="https://i.postimg.cc/L40HPnrK/search-job.png">
                <br>
                </div>
            </div>
            <div class="col-md-8">
                <h5>Land New Job</h5>
                <p>if you can pass this awesome program , you will be part of our reluable tech learn for especially software engineer position and other tech position as system analyst , quality engineer and many more
                    </p>
            </div>
        </div>
    <div class="row">
        <div class="col-md-4">
            <div class="logo">
            <img src="https://i.postimg.cc/hj2Kpjvm/get-paid.png">
            <br>
            </div>
        </div>
        <div class="col-md-8">
            
            <h5>Get Paid To Learn</h5>
            <p>Join for free and earn some money , yes you read that right , npo registration fee required to enter this program , to make things even better you will receive pocket money just for participating </p>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
            <div class="col-md-4">
                <div class="logo">
                <img src="https://i.postimg.cc/Pq4H5xm7/mission.png">
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-8">
                        <h5>Who Are We</h5>
                        <p>Alpha Tech Academy is a talent incubation that fives anyone any chance to learn within  3 MONTH OF  being a professional tech talent. What is our mission? We want to improve capability tech talent in Indonesia</p>
                    </div>
                    <div class="col-md-8">
                        <h5> Is Our mission</h5>
                        <p>We want to improve capability tech talent in indonesia</p>
                    </div>
                </div>
            </div>
    </div>
    <div class="row">
        <!-- <div class="col-md-4"></div> -->
        <div class="col-md-8">
        <div class="aligncenter logo-table">
            <h5>What Will You Learn?</h5>
            <table class="">
                <tr>
                    <td>
                        <img src="https://i.postimg.cc/c424prmM/learn-programming.png">
                    </td>
                    <td>
                        <img src="https://i.postimg.cc/ZqFbvjhV/learn-html.png">
                    </td>
                    <td>
                        <img src="https://i.postimg.cc/vBYQr9YM/learn-git.png">
                    </td>
                    <td>
                        <img src="https://i.postimg.cc/m2zTyTsc/learn-api.png">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="https://i.postimg.cc/6qTtSX4m/learn-react.png">
                    </td>
                    <td>
                        <img src="https://i.postimg.cc/GmDhddg0/learn-tdd.png">

                    </td>
                    <td>
                        <img src="https://i.postimg.cc/c4p0DPxF/learn-server.png">

                    </td>
                    <td>
                        <img src="https://i.postimg.cc/vTjbwNWH/learn-scrum.png">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    </div>

</div>

{%endblock%}