<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <title>{%block title%}{%endblock%}</title>
  </head>
  <body>
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="header-name">
                        Alpha Tech Indonesia
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="header-notif text-right flex-column">
                        <div class="menu">
                            <ul>
                                    <a href="/""><li>Home</li></a>
                                    <a href="blog"><li>Blog</li></a>
                                    <a href="mentor""><li>Mentor</li></a>
                                    <a href="mentee"><li>Mentee</li></a>
                                    <a href="author"><li>Author</li></a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="header-logo">
                  <img src="https://i.postimg.cc/mrRR4MFM/alpha-logo.png" />
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="header-text-big">
                   Alpha Tech Academy
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="header-paragraph">
                      <p>
                        Alpha Tech Academy is a tech incubator that gives everyone (even non IT background) a chance to be a professional Tech Talent within 3 months.<br> Contact Person: Email: academy@aplhatech.id <br>
Mobile phone: 0877 9609 9530
                        </p>

                    </div>

                  </div>


                </div>
        </div>
        {%block content%}
        {%endblock%}
  </body>
</body>
  <section class="footer">
      <div class="container-fluid">
          <div class="row row1">
              <div class="col-md-4 alignright our-product">
                      <p>Our Product:</p>
                  </div>
              <div class="col-md-2">
                  <img src="https://i.postimg.cc/9fjXfKsD/logo-grey-sepulsa.png" alt="">
              </div>
              <div class="col-md-2">
                <img src="https://i.postimg.cc/XY93txX4/logo-grey-alphapay.png" alt="">

              </div>
              <div class="col-md-4 alignleft">
                <img src="https://i.postimg.cc/gJ2WXWs2/logo-grey-alphabill.png" alt="">
              </div>
              </div>
          <div class="row row2">
            <div class="col-md-3">
                </div>
            <div class="col-md-3">
              <p>contact person : 0877 9609 9530 </p>
            </div>
            <div class="col-md-3">
             <p>Email academy@alphatech.id</p>
            </div>
            <div class="col-md-3">

            </div>

          </div>
        </div>
  </section>

</html>
</html>
